<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<div class='row'>
  <div class='small-12 columns text-center'>
    <h1>Rainify</h1>
    <p><%= @shop.shopify_domain %></p>
  </div>
  <div class="small-12 columns text-center">

    <%= form_for @shop do |f| %>
      <%= f.check_box :rainify, id: "rainify_check" %>
    <% end %>
  </div>
  <div class='small-12 columns text-center more-margin'>
    <p id="rain_status"></p>
  </div>
  <div class='text-center'>
    <p>Check out <%= link_to("your store!", "https://#{@shop.shopify_domain}", class: "store-link", target: "_blank")%></p>
  </div>
</div>